<div class="6u 12u$(xsmall) work-item"  style="text-align:center" onclick="updateMovieDetail("asdf","sadf",5445,"sdf","adsf")">
    <img src="images/default.jpg" alt="" width="400px" height="200px"/>
    <h4 class="movieName">asdf</h4>
    <h6 class="movieDir" style="display:none">sadf</h6>
    <h6 class="movieYear" style="display:none">5445</h6>
    <h6 class="movieCast" style="display:none">sdf</h6>
    <h6 class="movieAbout" style="display:none">adsf</h6>
</div>